EXERCISE 1. 

The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

Belirli bir sektördeki saatlik ücretler normal olarak ortalama 13,20$ ve standart sapma 2,50$ ile dağıtılır. Bu sektördeki bir şirket 40 işçi çalıştırıyor ve onlara saatte ortalama 12,20 dolar ödüyor. Bu şirket standartların altında ücret ödemekle suçlanabilir mi? Bir α = .01 seviye testi kullanın. (Wackerly, Ör.10.18)

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
mean = 13.20
std = 2.50
n = 40 
mean_1 = 12.20
alfa = 0.01

In [3]:
z = (mean_1 - mean) / (std / np.sqrt(n))
z

-2.5298221281347035

In [5]:
pvalue= stats.norm.cdf(z)
pvalue

0.005706018193000826

#  cevap

<p style = "color : blue">Değerlendirmemizi 0.01 e göre yapacaktık. p-value 0.0057 olduğu için firma standartların altında ücret ödemekten suçlanabilir.<p>

EXERCISE2.-soils table

Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). 
Do the soils appear to differ with respect to average shear strength,
at the 1% significance level?

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

İki tip zemin için serbest basınç testlerinden elde edilen kesme mukavemeti ölçümleri, aşağıdaki belgede gösterilen sonuçları vermiştir (metre kare başına ton cinsinden ölçümler).
Zeminler ortalama kesme dayanımına göre farklılık gösteriyor mu?
%1 anlamlılık düzeyinde?

In [10]:
soil = pd.read_excel("soil.xlsx")
soil.head(5)

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [16]:
soil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Soil1   30 non-null     float64
 1   Soil2   35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [56]:
soil[soil["Soil1"].isnull()==True]

    Soil1  Soil2
30    NaN  1.593
31    NaN  1.172
32    NaN  1.510
33    NaN  1.740
34    NaN  1.355

In [51]:
leveneTest = stats.levene(soil.Soil1[:30],soil.Soil2)
leveneTest

LeveneResult(statistic=0.31486292982090475, pvalue=0.5767018253541134)

In [53]:
indTest = stats.ttest_ind(soil.Soil1[:30], soil.Soil2, equal_var=True)
indTest

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

<p style = "color : blue">Değerlendirmemizi 0.01 e göre yapacaktık. pvalue=2.593228732352821e-06 olduğu için zeminler ortalama kesme dayanımına göre farklılık gösterir deriz .<p>

EXERCISE 3. pisa test dataset

The following dataset is based on data provided by the World Bank
Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

Aşağıdaki veri seti, Dünya Bankası tarafından sağlanan verilere dayanmaktadır ve her kıta grubu (AS, EU, AF, NA, SA, OC) için tanımlayıcı istatistikleri (bir veri setinin dağılımının merkezi eğilimi, dağılımı ve şekli) alın. Avrupa (AB) ve Asya (AS) ülkeleri arasında matematik puanları için (ortalama olarak) herhangi bir fark olup olmadığını belirleyin (normallik ve eşit varyanslar varsayalım). Yan yana kutu çizimleri çizin.

<p style = "color : blue">H0 = fark yok <br>
   
Ha = Fark var<p>

In [6]:
pisa = pd.read_excel("2015 PISA Test.xlsx")
pisa.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [10]:
ab = pisa[pisa["Continent_Code"]=="EU"]
ab.shape

(37, 6)

In [11]:
asy = pisa[pisa["Continent_Code"]=="AS"]
asy.shape

(17, 6)

In [70]:
leveneTest = stats.levene(ab.Math,asy.Math)
leveneTest

LeveneResult(statistic=14.300030628780679, pvalue=0.0004037413184451079)

In [12]:
statistic, pvalue = stats.ttest_ind(ab.Math, asy.Math, nan_policy='omit')  # independent T test

statistic, pvalue

(0.8700553179679787, 0.38826888111307556)

<p style = "color : blue">Çıkan P value değerlendirmesine göe math alanında fark yok deriz<p>

EXERCISE 4.-sample dataset

The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.

CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128

Örnek veri kümesi, dört konu alanı için (100 puan üzerinden) yerleştirme testi puanlarına sahiptir: İngilizce, Okuma, Matematik ve Yazma. Örneklemdeki öğrenciler, üniversiteye kayıt olduklarında 4 yerleştirme sınavının hepsini tamamlamıştır. Özellikle İngilizce ve Matematik bölümleriyle ilgilendiğimizi ve öğrencilerin İngilizce veya Matematik sınavlarında ortalama olarak daha yüksek puan alıp almadıklarını belirlemek istediğimizi varsayalım. İki testin ortalamasında anlamlı bir fark olup olmadığını test etmek için eşleştirilmiş bir t testi kullanabiliriz.

In [ ]:
# H0 : ortalamalar eşit.
# Ha : ortalamalar farklı.

In [21]:
df = pd.read_excel("students_2014.xlsx")
df.head()

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783.0,1995-03-22,NaT,NaT,NaN,NaN,0.0,0.0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278.0,1995-01-01,NaT,NaT,NaN,Philosophy,0.0,0.0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389.0,1994-12-31,NaT,NaT,NaN,NaN,0.0,0.0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820.0,1994-12-01,NaT,NaT,NaN,business administration,1.0,0.0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559.0,1994-11-10,NaT,NaT,NaN,NaN,1.0,1.0,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0

In [22]:
df1 = df[["Math","English"]].dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 434
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Math     398 non-null    float64
 1   English  398 non-null    float64
dtypes: float64(2)
memory usage: 9.3 KB

In [23]:
leveneTest = stats.levene(df1.Math, df1.English)
leveneTest

LeveneResult(statistic=11.734029864121114, pvalue=0.0006451925418023373)

In [24]:
paired = stats.ttest_rel(df1.Math, df1.English, nan_policy='omit')
paired

Ttest_relResult(statistic=-36.312568981719856, pvalue=3.0710987192210606e-128)

<p style="color:green">pvalue 0 gibi birşey çıktı H0 reject olur. Ha iddiası doğrudur. İki testin ortalamaları arasında anlamlı fark vardır.<p>